@font-face {
  font-family: 'ms-font';
  src:  url('fonts/ms-font.eot?x1tsub');
  src:  url('fonts/ms-font.eot?x1tsub#iefix') format('embedded-opentype'),
    url('fonts/ms-font.woff2?x1tsub') format('woff2'),
    url('fonts/ms-font.ttf?x1tsub') format('truetype'),
    url('fonts/ms-font.woff?x1tsub') format('woff'),
    url('fonts/ms-font.svg?x1tsub#ms-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ms-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-circle:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-at-sign:before {
  content: "\e904";
}
.icon-check1:before {
  content: "\e905";
}
.icon-chevron-down1:before {
  content: "\e906";
}
.icon-chevron-left:before {
  content: "\e907";
}
.icon-chevron-right:before {
  content: "\e908";
}
.icon-chevron-up1:before {
  content: "\e909";
}
.icon-chevrons-down:before {
  content: "\e90a";
}
.icon-chevrons-left:before {
  content: "\e90b";
}
.icon-chevrons-right:before {
  content: "\e90c";
}
.icon-chevrons-up:before {
  content: "\e90d";
}
.icon-coffee:before {
  content: "\e90e";
}
.icon-heart:before {
  content: "\e90f";
}
.icon-instagram1:before {
  content: "\e910";
}
.icon-linkedin1:before {
  content: "\e911";
}
.icon-mail:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-send1:before {
  content: "\e914";
}
.icon-shopping-cart:before {
  content: "\e915";
}
.icon-square:before {
  content: "\e916";
}
.icon-star:before {
  content: "\e917";
}
.icon-user:before {
  content: "\e918";
}
.icon-zoom-in:before {
  content: "\e919";
}
.icon-zoom-out:before {
  content: "\e91a";
}
.icon-instagram2:before {
  content: "\e91b";
  color: #e4405f;
}
.icon-facebook1:before {
  content: "\e91c";
  color: #3b5998;
}
.icon-mail-dot-ru:before {
  content: "\e91d";
  color: #168de2;
}
.icon-linkedin2:before {
  content: "\e91e";
  color: #0077b5;
}
.icon-messenger:before {
  content: "\e95c";
  color: #0084ff;
}
.icon-email:before {
  content: "\e91f";
}
.icon-arrow-down1:before {
  content: "\e920";
}
.icon-arrow-left1:before {
  content: "\e921";
}
.icon-arrow-outline-down:before {
  content: "\e922";
}
.icon-arrow-outline-left:before {
  content: "\e923";
}
.icon-arrow-outline-right:before {
  content: "\e924";
}
.icon-arrow-outline-up:before {
  content: "\e925";
}
.icon-arrow-right1:before {
  content: "\e926";
}
.icon-arrow-thick-down:before {
  content: "\e927";
}
.icon-arrow-thick-left:before {
  content: "\e928";
}
.icon-arrow-thick-right:before {
  content: "\e929";
}
.icon-arrow-thick-up:before {
  content: "\e92a";
}
.icon-arrow-thin-down:before {
  content: "\e92b";
}
.icon-arrow-thin-left:before {
  content: "\e92c";
}
.icon-arrow-thin-right:before {
  content: "\e92d";
}
.icon-arrow-thin-up:before {
  content: "\e92e";
}
.icon-arrow-up:before {
  content: "\e92f";
}
.icon-checkmark:before {
  content: "\e930";
}
.icon-cheveron-down:before {
  content: "\e931";
}
.icon-cheveron-left:before {
  content: "\e932";
}
.icon-cheveron-outline-down:before {
  content: "\e933";
}
.icon-cheveron-outline-left:before {
  content: "\e934";
}
.icon-cheveron-outline-right:before {
  content: "\e935";
}
.icon-cheveron-outline-up:before {
  content: "\e936";
}
.icon-cheveron-right:before {
  content: "\e937";
}
.icon-cheveron-up:before {
  content: "\e938";
}
.icon-close1:before {
  content: "\e939";
}
.icon-envelope:before {
  content: "\e93a";
}
.icon-exclamation-outline:before {
  content: "\e93b";
}
.icon-exclamation-solid:before {
  content: "\e93c";
}
.icon-gift1:before {
  content: "\e93d";
}
.icon-heart1:before {
  content: "\e93e";
}
.icon-load-balancer:before {
  content: "\e93f";
}
.icon-location:before {
  content: "\e940";
}
.icon-location-current:before {
  content: "\e941";
}
.icon-mood-happy-outline:before {
  content: "\e942";
}
.icon-mood-happy-solid:before {
  content: "\e943";
}
.icon-phone1:before {
  content: "\e944";
}
.icon-search1:before {
  content: "\e945";
}
.icon-send2:before {
  content: "\e946";
}
.icon-share-alt:before {
  content: "\e947";
}
.icon-shopping-cart1:before {
  content: "\e948";
}
.icon-star-full:before {
  content: "\e949";
}
.icon-thumbs-down:before {
  content: "\e94a";
}
.icon-thumbs-up:before {
  content: "\e94b";
}
.icon-time:before {
  content: "\e94c";
}
.icon-timer:before {
  content: "\e94d";
}
.icon-zoom-in1:before {
  content: "\e94e";
}
.icon-zoom-out1:before {
  content: "\e94f";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-mail-forward:before {
  content: "\f064";
}
.icon-share:before {
  content: "\f064";
}
.icon-plane:before {
  content: "\f072";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-phone:before {
  content: "\f095";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-code:before {
  content: "\f121";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-amazon:before {
  content: "\f270";
}
.icon-commenting-o:before {
  content: "\f27b";
}
.icon-envelope-open:before {
  content: "\f2b6";
}
.icon-envelope-open-o:before {
  content: "\f2b7";
}
.icon-social-at-circular:before {
  content: "\e950";
}
.icon-social-skype-outline:before {
  content: "\e951";
}
.icon-social-tumbler-circular:before {
  content: "\e952";
}
.icon-social-facebook-circular:before {
  content: "\e953";
}
.icon-social-linkedin-circular:before {
  content: "\e954";
}
.icon-social-pinterest-circular:before {
  content: "\e955";
}
.icon-social-last-fm-circular:before {
  content: "\e956";
}
.icon-social-linkedin:before {
  content: "\e957";
}
.icon-social-pinterest:before {
  content: "\e958";
}
.icon-social-skype:before {
  content: "\e959";
}
.icon-social-facebook:before {
  content: "\e95a";
}
.icon-gift:before {
  content: "\e95b";
}
.icon-present:before {
  content: "\e95b";
}
.icon-box:before {
  content: "\e95b";
}
